<p id="notice"><%= notice %></p>
<div style="height: 100vh;">
<button type="button" style="width: 100vw;" class="btn btn-danger"><%= link_to 'Add Bathroom', new_bathroom_path, {:style=>"color:#fff;"} %></button>

 <%= text_field :xcoord, :id => "x-coord" %>
  <%= text_field :xcoord, :id => "y-coord" %>
<div style="display: inline-flex;">
  <span>
  Your current location is:
  </span>
  <input id="x-coord"/>
  <input id="y-coord"/>
  </div>
  <div style='width: 800px;'>  
  <div id="map" style='width: 100vw; height: 100vh;'></div>
  </div>  
</div>  

<br>


